@page "/ships/cargo/{ShipId}"
@implements IDisposable
@inject SpaceTradersUserInfo UserInfo
@inject ShipsProvider ShipInfo
@inject StateEvents StateEvents

<div class="layout-container">
    @if (shipData == null)
    {
        @if (ShipInfo.DataRefreshing)
        {
            <h3 class="body-title">Loading...</h3>
        }
        else
        {
            <h3 class="body-title">Invalid ship id provided.</h3>
        }
    }
    else
    {
<h3 class="body-title">@shipData.DisplayName - Cargo (@shipData.Ship.Cargo.Sum(t => t.TotalVolume)/@shipData.Ship.MaxCargo@(shipData.Ship.Cargo.Any(t => t.Quantity > 0 && t.TotalVolume == 0) ? " +" + shipData.Ship.Cargo.Where(t => t.TotalVolume == 0).Sum(t => t.Quantity) : ""))</h3>
        if (shipData.Ship.Cargo == null || shipData.Ship.Cargo.Length == 0)
        {
            <p>This ship does not contain any cargo.</p>
        }
        else
        {
            <table class="cargo">
                <thead>
                    <tr>
                        <th>Cargo Type</th>
                        <th>Quantity</th>
                        <th>Volume Per Unit</th>
                        <th>Total Volume</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cargo in shipData.Ship.Cargo)
                    {
                    <tr>
                        <td>@cargo.Good</td>
                        <td>@cargo.Quantity</td>
                        <td>@(cargo.TotalVolume / cargo.Quantity)</td>
                        <td>@cargo.TotalVolume</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>

@code {
    [Parameter]
    public string ShipId { get; set; }
    private ShipData shipData = null;

    protected override void OnInitialized()
    {
        UpdateCargoData();
        StateEvents.StateChange += HandleStateUpdate;
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        UpdateCargoData();
        base.OnParametersSet();
    }

    public void Dispose()
    {
        StateEvents.StateChange -= HandleStateUpdate;
    }

    private void HandleStateUpdate(object sender, string type)
    {
        if (type == "shipsRefreshed" || type == "cargoUpdated" || type == "cargoPurchased" || type == "cargoSold")
        {
            UpdateCargoData();
            StateHasChanged();
        }
    }

    private void UpdateCargoData()
    {
        if(ShipInfo.HasShips())
            shipData = ShipInfo.GetShipData(ShipId);
    }
}