@page "/ships/cargo/{ShipId}"
@implements IDisposable
@inject ShipsProvider ShipProvider

<div class="layout-container">
    @if (shipData == null)
    {
        @if (ShipProvider.DataRefreshing)
        {
            <h3 class="body-title">Loading...</h3>
        }
        else
        {
            <h3 class="body-title">Invalid ship id provided.</h3>
        }
    }
    else
    {
<h3 class="body-title">@shipData.DisplayName - Cargo (@shipData.Ship.Cargo.Sum(t => t.TotalVolume)/@shipData.Ship.MaxCargo@(shipData.Ship.Cargo.Any(t => t.Quantity > 0 && t.TotalVolume == 0) ? " +" + shipData.Ship.Cargo.Where(t => t.TotalVolume == 0).Sum(t => t.Quantity) : ""))</h3>
        if (shipData.Ship.Cargo == null || shipData.Ship.Cargo.Length == 0)
        {
            <p>This ship does not contain any cargo.</p>
        }
        else
        {
            <table class="cargo">
                <thead>
                    <tr>
                        <th>Cargo Type</th>
                        <th>Quantity</th>
                        <th>Volume Per Unit</th>
                        <th>Total Volume</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cargo in shipData.Ship.Cargo)
                    {
                    <tr>
                        <td>@cargo.Good</td>
                        <td>@cargo.Quantity.ToString("N0")</td>
                        <td>@(cargo.TotalVolume / cargo.Quantity)</td>
                        <td>@cargo.TotalVolume.ToString("N0")</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>

@code {
    [Parameter]
    public string ShipId { get; set; }
    private ShipData shipData = null;

    protected override void OnInitialized()
    {
        ShipProvider.ShipsUpdated += ShipsUpdated;

        UpdateCargoData();
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        UpdateCargoData();
        base.OnParametersSet();
    }

    public void Dispose()
    {
        ShipProvider.ShipsUpdated -= ShipsUpdated;
    }

    private void ShipsUpdated(object sender, ShipEventArgs args)
    {
        UpdateCargoData();
        StateHasChanged();
    }

    private void UpdateCargoData()
    {
        if(ShipProvider.TryGetShipData(ShipId, out var data))
            shipData = data;
    }
}